@import url('https://fonts.googleapis.com/css2?family=Karla&family=Libre+Baskerville&display=swap');

*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', serif;
}

p{
  font-family: 'Karla', sans-serif;
}

.light_Btn{
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  width: 150px;
  text-align: center;
  border: 3px inset black;
  font-size: .9rem;
  transition: all .5s ease-in-out;
}

.light_Btn:hover{
  color: white;
  background-color: black;
}

.Dark_Btn{
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  border: 3px inset white;
  font-size: .9rem;
}

.Dark_Btn:hover{
  color: black;
  background-color: white;
}

.linkBlack{
  text-decoration: none;
  color: black;
}

.linkWhite{
  text-decoration: none;
  color: white;
}

.login{
  background: url(Assets//pexels-pixabay-277319.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  background-color: black;
  background-position-x: -300px;
}


